{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "Quizz_project_app/css/choice.css" %}?{% now "U"%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

 <span><a  class=logout href="{% url 'logout' %}">Logout</a></span>

  <span class="hello-msg">Hello {{request.user}}</span>
    <p score ='score'>Score : {{score}}</p>

    <h3>Welcome, Make a choice</h3>




        <div class="img_left_left">
            <div class="container">
                <a href="{% url 'QuizzMicro' %}">
                    <img src="{% static "/Quizz_project_app/img/img_choice/microscope.png" %}" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                </a>

                    <div class="text">Microscopy Quizz</div>
                </div>
            </div>

            <div>Microscopy Quizz</div>
            <a href="{% url 'QuizzMicro' %}"><img src ="{% static "/Quizz_project_app/img/img_choice/microscope.png" %}" class=pictureChoice></a>

            <div>Cellular Component Quizz</div>
            <a href="{% url 'QuizzCompo' %}"><img src="{% static "/Quizz_project_app/img/img_choice/cell.png"%}" class=pictureCellChoice></a>

            <div>Search Images</div>
            <a href="{% url 'explo' %}"><img src="{% static "/Quizz_project_app/img/img_choice/search.png"%}" class=pictureChoice></a>

            <div>Explore Images</div>
            <a href="{% url 'explo' %}"><img src="{% static "/Quizz_project_app/img/img_choice/file.png"%}" class=pictureFile></a>
    </div>

{% endblock content %}

