{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "Quizz_project_app/css/choice.css" %}?{% now "U"%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

 <span><a  class=logout href="{% url 'logout' %}">Logout</a></span>

    <p class = head score ='score'>Score : {{score}}</p>

    <h1 class =title >Welcome {{request.user}}, let's play or learn together !</h1>
        <h2 class =title >Make your choice !</h2>

        <div class="img_left">
            <div class="container">
                <a href="{% url 'QuizzMicro' %}">
                    <img src="{% static "/Quizz_project_app/img/img_choice/microscope.png" %}" alt="Avatar" class="image" style="width:15%">
                    <div class="middle">
                </a>
                    <div class="text_a">Microscopy Quizz</div>
            </div>
        </div>

        <div class="img_center">
            <div class="container">
                <a href="{% url 'QuizzMicro' %}">
                    <img src="{% static "/Quizz_project_app/img/img_choice/cell.png"%}" alt="Avatar" class="image" style="width:22%">
                    <div class="middle">
                </a>
                    <div class="text">Cellular component Quizz</div>
            </div>
        </div>

        <div class="img_right">
            <div class="container">
                <a href="{% url 'explo' %}">
                    <img src="{% static "/Quizz_project_app/img/img_choice/search.png"%}" alt="Avatar" class="image" style="width:15%">
                    <div class="middle">
                </a>
                    <div class="text_b">Explore data</div>
            </div>
        </div>

{% endblock content %}

