body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #aa8ef3 !important;
    font-weight: bold;
}
.pictureChoice{
    max-width: 140px;
    max-height: 140px;
}

.pictureCellChoice{
    max-width: 200px;
    max-height: 200px;
}

.pictureFile{
    max-width: 180px;
    max-height: 180px;
}

.img_left_left{
    display: inline;
    margin-top: 1%;
    text-align: center;
}

.logout{
    padding: 5px;
    float: right;
    margin-right:2%;
    color: #240342;
    font-size: large;
    border: 2px solid;
    border-color: #240342;
    border-top-left-radius: 10% 70%;
    border-bottom-left-radius: 10% 70%;
    border-top-right-radius: 10% 70%;
    border-bottom-right-radius: 10% 70%;
}

.container {
  position: relative;
  width: 10%;
}

.image {
  opacity: 1;
  display: block;
  width: 2px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #1a064d;
  color: #f1eef5;
  font-size: 16px;
  padding: 16px 32px;
}