body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #aa8ef3 !important;
}

.login-center{
    margin-top: 6%;
    text-align: center;
    color: #aa8ef3;
    background: #260548;
    border-top-left-radius: 10% 70%;
    border-bottom-left-radius: 10% 70%;
    border-top-right-radius: 10% 70%;
    border-bottom-right-radius: 10% 70%;
    margin-right: 35%;
    margin-left: 25%;
}

.register .register-form{
    padding: 10%;
    margin-top: 17%;
    margin-bottom: 4%;
    margin-right: 17%;
    margin-left: 17%;
}
.btnLogin{
    float: center;
    margin-top: 15%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #aa8ef3;
    color: #240342;
    font-weight: 600;
    width: 70%;
    cursor: pointer;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #aa8ef3;
}
