body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #aa8ef3 !important;
}
.register-left{
    text-align: center;
    color: #240342;
    margin-top: 1%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #240342;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;

}
.register-right{
    margin-top: 6%;
    text-align: center;
    color: #aa8ef3;
    background: #260548;
    border-top-left-radius: 10% 70%;
    border-bottom-left-radius: 10% 70%;
    border-top-right-radius: 10% 70%;
    border-bottom-right-radius: 10% 70%;
}
.register-left img{
    margin-top: 25%;
    margin-bottom: 4%;
    max-width: 250px;
    max-height: 250px;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 13%;
    margin-bottom: 7%;
    margin-right: 4%;
    margin-left: 17%;
}
.btnRegister{
    float: center;
    margin-top: 15%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #aa8ef3;
    color: #240342;
    font-weight: 600;
    width: 70%;
    cursor: pointer;
}

.register-heading{
    text-align: center;
    margin-top: 9%;
    margin-bottom: -15%;
    color: #aa8ef3;
}

.button{
  background-color: #240342;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 2rem;
}

