{% load static %}
<link rel="stylesheet" href="{% static "Quizz_project_app/css/Quizz_micro.css" %}?{% now "U"%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

{% block extrahead %}

{% endblock %}
{% block content %}
<div class="score">{{ request.user.username }} score : {{ score }} points</div>

    <div class= "Question">
    <div class="h1">{{ question }}</div>


    {% if choiceQuestion == "microscopy" %}

        <form method="POST" action="{% url 'QuizzMicro'%}">


        {% csrf_token %}

        {% for image in images %}

            {% if forloop.counter == 1 %}

                <div class = "Question">

                    <img src="{{ image.filepath }}" id="img_0_{{ image.id }}" class="image_size">
                    {{ form.firstQuestion }}

                </div>

            {% endif %}


            {% if forloop.counter == 2 %}

                <div class= "Question">

                    <img src="{{ image.filepath }}" id="img_0_{{ image.id }}" class="image_size">
                    {{ form.secondQuestion }}
                </div>

            {% endif %}

            {% if forloop.counter == 3 %}

                <div class= "Question">

                    <img src="{{ image.filepath }}" id="img_0_{{ image.id }}" class="image_size">
                    {{ form.thirdQuestion }}
                </div>

            {% endif %}

            {% if forloop.counter == 4 %}
                 <div class= "Question">

                    <img src="{{ image.filepath }}" id="img_0_{{ image.id }}" class="image_size">
                    {{ form.fourthQuestion }}
                </div>


            {% endif %}

            {% if forloop.counter == 5 %}
                 <div class= "Question">

                    <img src="{{ image.filepath }}" id="img_0_{{ image.id }}" class="image_size">
                    {{ form.fifthQuestion }}
                </div>

            {% endif %}

        {% endfor %}

        <button class="button" type="submit">Save Answers</button>

        </form>
        </div>

    {% endif %}

{% endblock content %}
